* {
    box-sizing: border-box;
}

.scene {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    min-height: 100vh;
}

.layer {
    position: absolute;
    width: 100%;
    height: 120%;
}

.bg-image {
    background: url(../img/day.jpg) center no-repeat;
    background-size: cover;
}

.news {
    background-color: rgba(255, 255, 255, 0.9);
}

.main-text {
    font-size: 1.1rem;
}

.date-author {
    color: rgb(114, 114, 114);
}

.title {
    font-size: 1.2rem;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
    background-color: rgba(255, 255, 255, 0.9);
}

.open-article {
    cursor: pointer;
}

.sidebar-block {
    background-color: None;
    font-size: .7rem;
    cursor: pointer;
}