body {
    background: url(../img/day.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.news {
    background-color: rgba(255, 255, 255, 0.8);
}

.main-text {
    font-size: 1.1rem;
}

.date-author {
    color: rgb(170, 162, 162);
}

.title {
    font-size: 1.2rem;
}