{% extends 'news/index.html' %}
{% block content %}
    <div class="col-8 mr-4 ml-4">
        <div class="container d-flex justify-content-center flex-column mt-5">
            <div class="container p-4 news mw-100 mh-100 mb-5" id="{{ post.id }}">
                <div class="mb-4 ml-3 mr-3 font-weight-bold title text-justify">
                    <p>{{ article.title }}</p>
                </div>
                <div class="mr-4 ml-4">
                    <img src="{{ article.img.url }}" class="img-fluid">
                </div>
                <div class="mt-4 ml-3 mr-3 main-text text-justify">
                    <p>{{ article.text|linebreaks }}</p>
                </div>
                <div class="mt-2 ml-3 mr-3 d-flex justify-content-between date-author">
                    <div>{{ article.author }}</div>
                    <div>{{ article.pub_date }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block sidebar %}
    <div class="col mr-3 ml-3 mt-5">
        <div class="container d-flex justify-content-center sidebar">
            <div class="container">
                {% for article in sidebar_article %}
                    <div class="text-justify m-3 font-weight-bold sidebar-block" id="{{ article.id }}" onclick="change_article(this)">
                        <img src="{{ article.img.url }}" class="img-fluid mb-2">
                        <p>{{ article.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock sidebar %}